.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(100deg, #575656, #062e3f);
  color: #ffdfdb;
  height: 100vh;
  gap: 30px;
}

.slogan{
  margin-top: 100px;
  color: #ffffff;
  font-size: 80px;
  letter-spacing: 7px!important;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 0%);
  white-space: nowrap;
  animation: typewriter 2s steps(44) 1s 1 normal both,
    blinkTextCursor 1s steps(2) infinite;
}

.todolist{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container{
  display: flex;
  justify-content: end;
  position: relative; 
  border-radius: 12px;
  height: 35px;
  width: 550px;
}

.searchbar{
  position: absolute;
  outline: none;
  border: none;
  padding-left: 12px;
  border-radius: 12px;
  height: 35px;
  width: 550px;
  background-color: #181A1A;
  color: #666C72;
}

.searchbutton{
  cursor: pointer;
  position: absolute;
  height: 35px;
  width: 80px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: none;
}

.tasks{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.tasks .tasksLabel{
  font-size: 30px;
}

.task{
  display: flex;
  align-items: center;
  width: 800px;
  justify-content: space-between;
  background-color: #263033;
  border-radius: 40px;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
}

.task .left-section{
  font-size: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 20px;
}

.task .left-section .task-title{
  color: #fff;
}

.task .left-section .task-desc{
  color: #9A9293;
  font-size: 14px;
}

.task .right-section{
  display: flex;
  gap: 10px;
}

.task .right-section #button{
  cursor: pointer;
  background-color: #909094;
  transition: all 150ms ease-in-out;
  border-radius: 50%;
  border: none;
  height: 35px;
  width: 35px;
}

.task .right-section #button:hover{
  box-shadow: 0 0 12px 0 #3498db inset, 0 0 10px 4px #3498db;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 410px;
  }
}
@keyframes blinkTextCursor {
  0% {
    border-right: transparent;
  }
}